h2{
  color: black; font-size: 1rem; font-weight: bolder"
}
.formdiv {
  
  background-color: white;
  border-radius: 10px;
  padding: 4px;
  width: 40%;
  margin: 10px;
}
.inputText {
  display: inline-block;
  width: 100%;
  height: 95%;
  border: none;
  outline: none;
}
.input:hover {
  background-color: #4f35a1;
}
.input {
  background-color: white;
  width: 80%;
  padding: 6px;
  border-radius: 10px;
  border: 1px solid black;
  margin: 16px;

  height: 30px;
}
.bc {
  background-color: darkblue;
}